

.carwidget__cart{
    width: 2rem;
}


.carwidget__badge{
    padding: 0 4px;
    background-color: #5C3996;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    top: -40px;
    right: -30px;
    width: 1.2rem;
}